/*Estilo de nosotros*/
.nosotros-page {
    display: flex;
    flex-direction: column;

    h1 {
        margin-bottom: 15px;
    }

    p {
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 50px;
        margin-bottom: 80px;
        text-align: justify;
        align-self: center;
    }
}

.nosotros-img {
    width: 80%;
    height: auto;
    align-self: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}



@media (min-width:768px) {
    .nosotros-img {
        width: 40%;
    }
}