@import '../main/colores';
@import '../main/textos';

/*Estilo de Footer*/

footer {
    background-color: $color-fondo-footer;
    padding-top: 10px;
    display: flex;

    .icon {
        margin-top: 10px;
        width: 32px;
        height: 32px;
    }

    p {
        @include texto-con-estilo($font-family-rubik-distressed, normal, 18px, $color-textos);
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }
}

.footer-icon {
    display: flex;
    padding-left: 10px;
}

@media (min-width:768px) {
    footer p {
        font-size: 55px;
    }
}